@font-face {
  font-family: font-roboto;
  src: url("fonts/RobotoCondensed-VariableFont_wght.ttf");
}
.font-roboto {
  font-family: font-roboto;
}
@font-face {
  font-family: font-bebas-neue;
  src: url("fonts/BebasNeue-Regular.ttf");
}
.font-bebas-neue {
  font-family: font-bebas-neue;
}
.signup,
.login,
.dashboard {
  background-image: url("grains.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
input,
select {
  caret-color: darkmagenta;
  padding: 2px;
  background-color: transparent;
  border-bottom: solid 2px gray;
  font-size: smaller;
  outline: none;
}
