/* Reduced 350kb to 71kb and 74kb to 22kb */
@font-face {
  font-family: font-roboto;
  src: url("fonts/RobotoCondensed-Regular.woff2");
}
.font-roboto {
  font-family: font-roboto;
}
@font-face {
  font-family: font-bebas-neue;
  src: url("fonts/BebasNeue-Regular.woff2");
}
.font-bebas-neue {
  font-family: font-bebas-neue;
}

input,
select {
  caret-color: darkmagenta;
  padding: 2px;
  background-color: transparent;
  border-bottom: solid 2px gray;
  font-size: smaller;
  outline: none;
}
